<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
  </head>
  <body>
    <div id="main">
      <% if defined? title %>
        <h1><%= title %></h1>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
